<div id="footer__outer">
    <div id="footer__inner">
        <div id="footer__ff">
            <p>Developed By one and only AP</p>
        </div>
        <div id="footer__ss">
            <p>Made with &#128156; and &#9749;</p>
        </div>
    </div>
</div>