<link rel="stylesheet" href="/css/forgotPassword.css">

<div id="forgotPassword__outer">
    <div id="forgotPassword__inner">
        <h3>Forgot Password</h3>
        <form action="/users/requestResetPassword" method="POST">
            <div id="form__fields">
        
                <label class="field__name" for="email">Email</label>
                <input id="email" type="email" name="email" required>

            </div>
        
            <input type="submit" value="Request for the access token">
        </form>
    </div>
</div>