
<link rel="stylesheet" href="/css/resetPassword.css">

<div id="resetPassword__outer">
    <div id="resetPassword__inner">
        <h3>Reset Password</h3>
        <form action="/users/resetPassword?userId=<%= userId %>" method="POST">
            <div id="form__fields">
                <label class="field__name" for="password">Password</label>
                <input id="password" type="password" name="password" required>

                <label class="field__name" for="confirm_password">Confirm Password</label>
                <input id="confirm_password" type="password" name="confirm_password" required>
            </div>
        
            <input type="submit" value="Reset Password">
        </form>
    </div>
</div>