#footer__outer {
    background: #C991D9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 14px;
}

#footer__inner {
    display: flex;
    justify-content: space-between;
}

#footer__inner p {
    font-size: 0.9rem;
}